<form [formGroup]="form">
        <div class="search" (click)="showInput()" [ngClass]="{'show-search-input': isShowInput}">    
                <mat-icon class="search-icon" [ngClass]="{'open-search': isShowInput}" (click)="buscar()">search</mat-icon>
                <input *ngIf="isShowInput"  formControlName="search" class="search-input" placeholder="Search..." (keyup.enter)="keyEnter()">
        </div>
</form>