.mat-elevation-z4{
  background-color: rgba(7, 7, 7, 0.2); 
  color:white; 
  
}
mat-card-title{
  font-size: 13px !important;
}
mat-card-subtitle{
  color : white;

    

}
.subtitle{
  @media(max-width: 700px) {
    font-size: 2px !important;
  }
}


