<mat-card class="mat-elevation-z4" >   
   <img mat-card-image *ngIf="movieRest.poster_path == null " src="https://www.freeiconspng.com/uploads/video-icon-6.png" >
   <img mat-card-image *ngIf="movieRest.poster_path != null " src="{{basePath+ movieRest.poster_path}}">
   <mat-card-header>
      <mat-card-title>{{movieRest.title}}</mat-card-title>
      <mat-card-subtitle>{{movieRest.release_date}}</mat-card-subtitle>
   </mat-card-header>
 
</mat-card>

      
   
    
    
