<mat-card class="mat-elevation-z4" >
    <mat-card-header>
        <mat-card-title>{{movieRest.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image *ngIf="movieRest.profile_path == null " src="https://www.freeiconspng.com/uploads/video-icon-6.png" >
    <img mat-card-image *ngIf="movieRest.profile_path != null " src="{{basePath+ movieRest.profile_path}}">

</mat-card>