
 <mat-grid-list cols="6" rowHeight="2:1" class="cont">
    <mat-grid-tile *ngFor="let movie of movies">
        <app-cards [movieRest]="movie">    
        </app-cards>
    </mat-grid-tile>
  </mat-grid-list>
    

