<div class="contenido" *ngFor="let namesCategory of vectNamesCategory">
    <span class="titulo">{{namesCategory.name}}</span>    
    <app-list-movies [typeRut]="namesCategory.type">
    </app-list-movies>
</div>

