<div *ngIf="actorsRestList">
    <h1 >Actors</h1>
    <div fxLayout="row wrap"  fxLayoutGap="5px grid">
        <div fxFlex="20%" *ngFor="let actor of actorsRestList['results'] | paginate:actorsRestList['results'].length:actorsRestList['results'].page">        
            <app-cards-person [movieRest]="actor" (click)="searchMovieByActor(actor.id)">   
            </app-cards-person>            
        </div>
    </div>
    <app-pagination (changePaginate)="changePaginate($event)" [size]="actorsRestList['total_results']" [pageSizes]="actorsRestList['results'].length" [valueSearchs]="searchValue" [type]="type"></app-pagination>        
</div>



