
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <span > <a (click)="openMain()" class="titulo" >Movie Searcher</a> </span>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
        <app-search></app-search>        
      </mat-toolbar-row>     
    </mat-toolbar>
