@import "src/app/styles/variables";

.example-spacer {
  flex: 1 1 auto;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.myCustomClass md-input-container .md-errors-spacer{
    min-height: 0px !important;
}

.filters {
    mat-form-field {
        div.mat-form-field-flex {
            align-items: flex-end;
        }

        div.mat-form-field-prefix {
            padding-right: 12px !important;
        }
    }
}
.titulo{
    @media (max-width: $small) {
        display: none;
    }
}
.mat-toolbar {
    background-color: rgba(7, 7, 7, 0.133)  !important;
    opacity: 0.8;
    color: white;
}
a{
    cursor: pointer;
}
a:hover{
    color:gray;
}