<div *ngIf="movieRestList">
    <h1 >Movies</h1>
    <div fxLayout="row wrap"  fxLayoutGap="5px grid">
        <div fxFlex="20%" *ngFor="let movie of movieRestList['results'] | paginate:movieRestList['results'].length:movieRestList['results'].page">
            <app-cards [movieRest]="movie"> 
            </app-cards>
        </div>  
    </div>
    <app-pagination (changePaginate)="changePaginate($event)" [size]="movieRestList['total_results']" [pageSizes]="movieRestList['results'].length" [valueSearchs]="searchValue" [type]="type"></app-pagination>  
</div>
