
<div class="info">  
   <p class="title" >
       <span>MOVIE SEARCHER</span> 
       <br>
       <span class="contenido">
           Search everything you want related to movies. Use the search field on the top bar to search by movie or person name and discover a whole world of cinema.
           <br/>
           All searches are powered by themoviedb.org
        </span>      
   </p>
</div>

