.info{
    width: 100%;
    height: 300px;
    background-image: url('https://www.themoviedb.org/t/p/original//9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    color:white;
    font-weight: bold;    
}
.title{
    font-size: 25px;
    background-color: rgba(7,7,7,0.6);
    padding: 10px; 
    width: 100%; 
    height: 100%;
    margin-top: 30px;  
}
.contenido{
    font-size: 15px;
    font-weight: normal;
}