/* You can add global styles to this file, and also import other style files */
@import "src/app/styles/variables";
html, body { height: 100%; background-color: #15171c;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
